<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="main-info">
            <a href="/index/add-new-employee/">Добавить</a>
            {% for i in employee %}
                <div class="employee-wrapper">
                    <p>{{ i.name }}</p>
                    <p>{{ i.second_name }}</p>
                    <p>{{ i.age }}</p>
                    <p>{{ i.gender }}</p>
                    <a href="">Изменить</a>
                    <a href="">Удалить</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>